<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666515124031-a69bbttk4j3a70mmt9v0nausthr95nbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666515124031-a69bbttk4j3a70mmt9v0nausthr95nbs</string>
	<key>API_KEY</key>
	<string>AIzaSyCPZ1Gxj-byTdBh5LXYwkwRA14nMgXwqYc</string>
	<key>GCM_SENDER_ID</key>
	<string>666515124031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.esp32ra</string>
	<key>PROJECT_ID</key>
	<string>esp-32-ra-fl</string>
	<key>STORAGE_BUCKET</key>
	<string>esp-32-ra-fl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666515124031:ios:0a88d1944836068152ed8a</string>
	<key>DATABASE_URL</key>
	<string>https://esp-32-ra-fl-default-rtdb.firebaseio.com</string>
</dict>
</plist>